/* Font Family for all text on page */
* {
    font-family: Spectral;
}

/* Needed to keep footer at bottom */
.content-wrap{
    height: 100%;
}

/* Full App Section */
.App {
    overflow: hidden;
}
